svg {
  border: 1px black solid;
  background-color: bisque;
}

.grid line {
  stroke: #ccc;
}

.qizi:hover {
  stroke: blue;
  stroke-width: 2px;
}

.qizi.placed {
  stroke: black;
  stroke-width: 1px;
}
